{% extends "auctions/layout.html" %}

{% block body %}


<h2>Listing: {{ item.title }}</h2>

{% if message %}
<div class="alert alert-primary" role="alert">
  {{ message }}
</div>
{% endif %}

{% if not itemactive %}
  <div class="alert alert-danger" role="alert">Item Inativo</div>
  {% if winner %}
  <div class="alert alert-info" role="alert">O vencedor do leilao foi: {{ winner }}</div>  
  {% endif %}
{% endif %}

    <div class="row">
      <div class="col">
        <img src="{{ item.imageurl }}" width="300px" height="300px">
      </div>
    </div>
    <div class="row" style="height:30px">
      <div class="col" style="font-size: 15px">
        {{ item.description }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4><b>${{ form.bid.value }} </b></h4>
      </div>
    </div>     


    <div class=row" style="font-size:13px">
      <form action="{% url 'listbids' %}" method="POST">
        {% csrf_token %}
      <input type='hidden' value='{{ item.id }}' name='item'>
      <button type='submit'>{{ nbids }} bid(s) so far. {% if bidatual %} Your bid is the current bid. {% endif %}</button>
     </form> 
    </div>

  {% if user.is_authenticated %}

  <div class="row" style="height: 20px"></div>

    <div class="col">
      {% if owner %}
        <form action="{% url 'closeitem' %}" method="POST">
          {% csrf_token %}

          <button type="submit" class="btn btn-secondary">Close Auction</button>
          <input type="hidden" value="{{ item.id }}" name='item'>
        </form>    
      {% else %}
        <form action="{% url 'placebid' %}" method="POST">
          {% csrf_token %}
          {{ form }}
          <div class="row" style="height: 10px;"></div>
          <button type="submit" class="btn btn-primary">Place Bid</button>
          <input type="hidden" value="{{ item.id }}" name='item'>
        </form>
      {% endif %}

      {% if not watching %}
        <form action="{% url 'watchlist' %}" method="POST">
          {% csrf_token %}
    
          <button type="submit" class="btn btn-dark">Watchlist</button>
          <input type="hidden" value="{{ item.id }}" name='item'>
        </form>
      {% else %}
        <form action="{% url 'delwatchlist' %}" method="POST">
          {% csrf_token %}
    
          <button type="submit" class="btn btn-dark">Delete from Watchlist</button>
          <input type="hidden" value="{{ item.id }}" name='item'>
        </form>
      {% endif %}
  
  </div>



  
  {% endif %}

  <div class="row" style="height: 40px"></div>

  <h4>Details</h4>
  <ul style="font-size: 15px">
    <li>Listed by: {{ item.usuario }}</li>
    <li>Category: {{ item.category }}</li>
    <li>Date Created: {{ item.datecreation }}</li>
  </ul>

{% endblock %}